html {
  background-color:BROWN

}
p {
  color: #cyan
}
.Norm {
  text-align: center;
  color: #ff9f40;
  font-size:18
}
.stuff {
  color: #ff9f40;
  background-color:;

}
.main {
  font-size: 20;
  font-family:serif;
  color: inherit;
  #rgba(255, 204, 204, 0.5);
}
.responsive-img {
  width: auto;
  max-width: 1600px;
  height: auto;
  max-height: 1600px;
}
