html {
  background-color: #ADD8E6
}
p {
  color: #cyan
}
.Norm {
  text-align: center;
  color:#ff9f40

}
.stuff{
  color:grey;
  background-color:yellow
  }
.main{
  font-size:12;
  font-family: fantasy;
  color:inherit;#rgba(255,204,204,0.5);
}
.responsive-img{
  width:auto;
  max-width:1600px;
  height:auto;
  max-height:1600px;
}
